main{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background06.png");
    background-size: 100% 100%;
}

.carneiro{
    width: 30%;
    height: 100%;
    /* background-color: #000; */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30vh;
}

.carneiro img{
    height: 35%;
    margin: 4vh;
}

.sorteadorC{
    border: 1px solid yellow;
    width: 100%;
    display: flex;
    margin-bottom: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sorteadorC p {
    font-size: 20px;
}

.sorteadorC img{
    width: 60%;
    height: auto;
}

.ratao{
    width: 30%;
    height: 100%;
    /* background-color: #000; */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30vh;
}

.ratao img{
    height: 35%;
    margin: 4vh;
}

.sorteadorR{
    border: 1px solid yellow;
    width: 100%;
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sorteadorR p {
    font-size: 20px;
}

.sorteadorR img{
    width: 60%;
    height: auto;
}

.tabuleiros{
    width: 40%;
    height: 100%;
    /* background-color: #d3cdb9; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


.tabuleiro{
    width: 55%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.coluna{
    border: 2px solid black;
    width: 85px;
}

.coluna div{
    border-bottom: 2px solid black;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}