main{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background06.png");
    background-size: 100% 100%;
}

.carneiro{
    width: 30%;
    height: 100%;
    /* background-color: #000; */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30vh;
}

.carneiro img{
    height: 35%;
    margin: 4vh;
}

.sorteadorC{
    position: relative;
    /* border: 1px solid yellow; */
    width: 100%;
    display: flex;
    margin-bottom: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sorteadorC p {
    position: absolute;
    font-size: 60px;
    color: red;
    text-shadow: rgb(152, 23, 23) 3px 2px 3px;
    font-weight: 900;
    top: 25%;
    left: 46%;
}

.sorteadorC img{
    width: 60%;
    height: auto;
}

.ratao{
    width: 30%;
    height: 100%;
    /* background-color: #000; */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30vh;
}

.ratao img{
    height: 35%;
    margin-bottom: 4vh;
}

.sorteadorR{
    position: relative;
    /* border: 1px solid yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sorteadorR p {
    position: absolute;
    font-size: 60px;
    color: red;
    text-shadow: rgb(152, 23, 23) 3px 2px 3px;
    font-weight: 900;
    top: 15%;
    left: 46%;
}

.sorteadorR img{
    width: 60%;
    height: fit-content;
}

.tabuleiros{
    width: 40%;
    height: 100%;
    /* background-color: #d3cdb9; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


.tabuleiro{
    width: 55%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.coluna{
    border: 2px solid black;
    width: 85px;
}

.coluna div{
    border-bottom: 2px solid black;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}